* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: underline;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Inconsolata";
    font-size: 24px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.25em;
}

#me {
    text-align: left;
    width: 768px;
}

p.small {
    font-size: 0.75em;
    color: #CCC;
}

